body {
  background-image: url('/public/background.png');
}

.t1 {
  display: block;
	position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.t2 {
  display: block;
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.t3 {
  display: block;
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.t4 {
  display: block;
	position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    background-color: #AAAEF7;
    border: 1px solid #989DF2;
    color: white;
    padding: 15px 32px;
	  border-radius: 12px; 				/*Скругление */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 380px;
    display: block;
}
